*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background: url(./image/Ekran\ Resmi\ 2023-11-28\ 20.50.45.png) no-repeat; */
    background: linear-gradient(90deg, #d55ac3, #290455);
    /* background-size: cover; */
    background-position: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 32px;
    color: #45f3ff;
    text-decoration: none;
    font-weight: 700;
}
.navbar a{
    font-size: 18px; 
    color: white;
    font-weight: 40px;
    margin-left: 40px;
    text-decoration: none;
    margin-left: 40px;
    position: relative;

}
.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0 ;
    height: 2px;
    background-color: white;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.navbar a:hover:before{
    width: 100%;
}
/* ..................... */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* *{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
/* 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #23242a;
} */
.box{
    position: relative;
    width: 380px;
    height: 420px;
    background-color: #1c1c1c;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    overflow: hidden;
}
.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,    transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin:bottom right;
    animation: animate 60s linear infinite   ;
    -webkit-animation: animate 60s linear infinite   ;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,    transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin:bottom right;
    animation: animate 60s linear infinite   ;
    -webkit-animation: animate 60s linear infinite   ;
    animation-delay: -3s;
}
.borderLiner{
    position: absolute;
    top: 0;
    inset: 0;
}
.borderLiner::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,    transparent,#ff2770,#ff2770,#ff2770);
    z-index: 1;
    transform-origin:bottom right;
    animation: animate 60s linear infinite   ;
    -webkit-animation: animate 60s linear infinite   ;
    animation-delay: -1.5s;
   
}
.borderLiner::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,    transparent,#ff2770,#ff2770,#ff2770);
    z-index: 1;
    transform-origin:bottom right;
    animation: animate 60s linear infinite   ;
    -webkit-animation: animate 60s linear infinite   ;
    animation-delay: -4.5s;
}
@keyframes animate
{
0%{
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
100%{
    transform: rotate(3600deg);
    -webkit-transform: rotate(3600deg);
    -moz-transform: rotate(3600deg);
    -ms-transform: rotate(3600deg);
    -o-transform: rotate(3600deg);
}
}

.box form{
    position: absolute;
    inset: 4px;
    /* background-color: #222; */
    background: linear-gradient(90deg,#290455, #d55ac3);
    padding: 50px 40px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box form h2{
    color: white;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.box form .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.box form .inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.box form .inputBox input:valid ~ span,
.box form .inputBox input:focus ~ span
{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
    -webkit-transform: translateY(-34px);
    -moz-transform: translateY(-34px);
    -ms-transform: translateY(-34px);
    -o-transform: translateY(-34px);
}
.box form .inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    pointer-events: none;
}
.box form .inputBox input:valid ~ i,
.box form .inputBox input:focus ~ i
{
    height: 44px;
}
.box form .links{
    display: flex;
    justify-content: space-between;
}
.box form .links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}
.box form .links a:hover,
.box form .links a:nth-child(2){
    color: #fff;

}
.box form input[type="submit"]{
    border: none;
    outline: none;
    background-color: #fff;
    padding: 9px 25px;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    width: 100px;
    margin-top: 10px;
}
.box form input[type="submit"]:active{
    opacity: 0.8;
}
/* .ll{
    border: 1px solid white;
} */